<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue</title>
	<style>
		*{
			margin:0;
			padding:0;
		}
		li{
			list-style: none;
		}
	</style>
</head>
<body>

	<div id="demo" v-if="seen">
		{{mse}}
		<todo-item v-for="item in da" v-bind:todo="item" v-bind:key="item.id"></todo-item>
		<!-- <li v-for="item in da">{{item.a}}</li> -->
		<button v-on:click="alert()">111111</button>
	</div>
	<script src="https://cdn.bootcss.com/vue/2.4.1/vue.js"></script>
	<script>
		window.onload = function(){
			Vue.component('todo-item', {
			  props: ['todo'],
			  template: '<li>{{ todo.txt }}</li>'
			});
			var demo = new Vue({
				el:'#demo',
				methods:{
					alert:function(){
						console.log(this.mse);
					}
				},
				data:{
					seen:true,
					mse:"1234562",
					da:[
						{txt:"1"},
						{txt:"2"},
						{txt:"3"},
						{txt:"4"}
					]
				}
			});
		};
	</script>	
</body>
</html>